POSTGRES_DSN=postgresql://airflow:airflow@postgres:5432/airflow
KAFKA_BROKER=kafka:9092
KAFKA_TOPIC=moex_quotes
MOEX_BASE_URL=https://iss.moex.com/iss
DEFAULT_TICKERS=SBER, LKOH, FIVE
SLEEP_INTERVAL_SECONDS=30
